/* **************************** */
/* FORMULARIOS */
/* **************************** */

.formulario {
    &__nombre {
    }
    &__inputNombre {
      padding: 10px;
      &::placeholder{
        color: blueviolet;
        font-style: italic;;
        }
    }
    &__email {
    }
    &__inputEmail {
      padding: 10px;
      &::placeholder{
        color: blueviolet;
        font-style: italic;;
        }
    }
    &__localidad {
    }
    &__inputLocalidad {
      padding: 10px;
      &::placeholder{
        color: blueviolet;
        font-style: italic;;
        }
    }
    &__tituloEncuesta {
    }
    &__encuesta {
    }
    &__inputEncuesta {
      &--redes {
      }
      &--email {
      }
      &--otros {
      }
    }
    &__corchete {
    }
    &__enviar {
    }
  }