/* **************************** */

/* LAYOUTS */

/* **************************** */

body {
  background-image: $color-background;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100vh;

}

.main{
  height: 50vh;
}

.footer {
  height: 40vh;
  width: 100%;
  @include imagenFondo(
    "../assets/img/desktop/cestanavidad.png",
    center,top,
    cover
  );
}
